/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
sass root. Don't edit the version
in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
$left-padding: 4rem;
//Welcome Page
.guides-row{
  @include grid-row;

  & .guides-content-row{
    @include grid-gap;
  }
}
p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.guides-wrapper{
  padding-left: 2rem;
  background-color: color('gray-cool-10');
}

.guides-welcome{
  @include grid-container;
  padding:$left-padding;
  margin:0;
  max-width: 100%;
}

.guides-welcome-intro {
  @include u-width(full);

  @include at-media(tablet) {
    @include grid-col;
  }

  @include at-media(desktop) {
    @include grid-col(8);
  }
}

.guides-welcome-pagenav {
  @include u-width(full);

  @include at-media(tablet) {
    @include grid-col;
  }

  @include at-media(desktop) {
    @include grid-col(4);
  }
}

.guides-welcome-content{
  @include u-width(full)
  @include at-media(tablet){
    @include grid-row;
  }

}
.guides-container{
  @include u-width(full)

}
.styleguide-content{
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-left: $left-padding;
  padding-right: $left-padding;
  overflow: hidden;
  position: relative;

  @include at-media(tablet){
    max-width: 64rem;
    padding-right:0;
  }
}

.main-content{
  display:inline-block;
  right: 0;
  bottom:0;

  @include at-media(tablet){
    width: calc(100% - 15rem);
  }
}

.prev-step-container{
  padding: 1em;

  @include at-media(tablet){
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count:2;
    column-gap: 1em;
  }
}

.snippet{
  @include u-width(full);
}
.no-padding{
  padding-left: 0!important;
  padding-right: 0!important;
}
.welcome-sidebar{
  float:right;
}

.top-sidenav{
  display: none;
  @include at-media(tablet){
    display: block;
  }
}

.bottom-sidenav{
  display: block;
  @include at-media(tablet){
    display: none;
  }
}
.site-sidenav {
  @include at-media(tablet){
    display:block;
    display: block;
    float: left;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding-right: 0;
    padding-left: $left-padding;
    max-width: 15rem;
  }
  @include at-media(tablet){
    visibility: none;
  }
}
.progress-buttons{
  margin-top: 5rem;
}

.default-container{
  display:block;
  overflow: auto;
}

.welcome-index{
  list-style-type: none;
  margin:0;
  padding:0;
}

.icon{
  width: 1rem;
  height: 1.5rem;
  object-fit: fill;
  display:inline;
  margin-left: auto;
  margin-right: auto;
  float: right;
}
.basics-title{
  display:inline;
}
.basics-link{
  width: 80%;
  height: auto;
  margin-top: auto;
  overflow: auto;
  vertical-align: middle;
}
.no-border{
  border-top:0 !important;
  border-bottom:0 !important;
}

.method-filter{
  margin:0.75rem;
}


.method-result{
  display: inline-block;
  margin: .4rem;
  width:20vw !important;
}
.card{
  padding: 0.25rem 0.25rem;
}


ul.descriptor{
  list-style-type: none;
  padding-left: 0;

}

.sort-categories{
  margin: 3em 0;
  padding-left: 0;
  padding-right: 0;

}
.sort-category {
  background-color: #005ea2;
  text-align: center;
  height:100%;
  width: 100% !important;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.menu-links a{
  text-decoration: none;
}

.accordion{
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.menu-links li{
  list-style-type: none;
}


// ***************** HEADER ***************** //
.lab-header {
  &__logo {
    @include at-media('desktop') {
      margin: 0;
    }
  }

  &__logo-link {
    display: block;
    padding: units(2) 0;
  }

  &__logo-img {
    width: 8rem;
  }

  &.usa-header--basic .usa-current:after,
  &.usa-header--basic .usa-nav__link:hover:after,
  &.usa-header--basic [aria-expanded=true]:after {
    background-color: color('base-dark');
  }
}

.usa-header{
  background-color: color($theme-color-lab-indigo);
}
.nav-links{
  color: color($theme-color-lab-moon);
}
.sticky {
  position: fixed;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top:0;
}


// ***************** METHODS lIBRARY ***************** //

.filter-options{
  width: 63vw;
  z-index: 400;
}
