---
title: Resource Cantina
layout: default
permalink: /all-resources/
---

<div class=" grid-container">
  <div class="grid-row grid-gap">
    <div class="grid-col-fill">
      <h3>Filters</h3>
    <div class=" grid-container">
      <div class="grid-row grid-gap">
      {% for resource in site.tag-library%}
      <form class="method-filter">

      <div class="grid-col-auto">

      {% assign rawtags = "" %}
        {% assign ttags = resource.tags | join:'|' | append:'|' %}
        {% assign rawtags = rawtags | append:ttags %}
      {% assign rawtags = rawtags | split:'|' | sort %}
        <h5> {{resource.title}} </h5>

        {% assign tags = "" %}
        {% for tag in rawtags %}
          {% if tag != "" %}
            {% if tags == "" %}
              {% assign tags = tag %}
                <input type="checkbox" class="filter-checkbox"> <label class="filter-checkbox-label">{{tag}}</label>
                <br>
            {% else %}
              {% unless tags contains tag %}
              {% assign tags = tags | append:' ' | append:tag %}
                <input type="checkbox" class="filter-checkbox"> <label class="filter-checkbox-label">{{tag}}</label>
                <br>
              {% endunless %}
            {% endif %}
          {% endif %}
        {% endfor %}
    </div>
  </form>

      {% endfor %}

        </div>
    </div>

    </div>
    <div class="grid-col-fill" id= "method-results">
      <h3>Results</h3>
      {% for resource in site.resources %}
        {% assign sanitized_tags = "" %}
          {% for tag in resource.tags %}
            {% if sanitized_tags == "" %}
              {% assign sanitized_tags = sanitized_tags | append:tag  %}
            {% endif %}
            {% if sanitized_tags != ""%}
              {% unless sanitized_tags contains tag %}
                {% assign sanitized_tags = sanitized_tags | append:' ' | append:tag  %}
              {% endunless %}
            {% endif %}
          {% endfor%}
                <a href = {{resource.permalink}} class= "method-result {{sanitized_tags}}">
                <button class="usa-button">
                  <h5>{{resource.name}} <h5>
                  <p>{{resource.content}}<p>
                </button>
                </a>
      {% endfor %}
    </div>
  </div>
</div>
