---
title: Resource Cantina
layout: default
permalink: /all-resources/
---

{% for resource in site.tag-library%}
{% assign rawtags = "" %}
  {% assign ttags = resource.tags | join:'|' | append:'|' %}
  {% assign rawtags = rawtags | append:ttags %}
{% assign rawtags = rawtags | split:'|' | sort %}
<ul class="site-sidenav usa-sidenav">
<form class="method-filter">
  <h5> {{resource.title}} </h5>

  {% assign tags = "" %}
  {% for tag in rawtags %}
    {% if tag != "" %}
      {% if tags == "" %}
        {% assign tags = tag %}
        <li class="blog-tag-item" id="{{ tag }}-item">
          <input type="checkbox" class="filter-checkbox"> <label class="filter-checkbox-label">{{tag}}</label>
        </li>
      {% else %}
        {% unless tags contains tag %}
        {% assign tags = tags | append:' ' | append:tag %}
        <li class="blog-tag-item" id="{{ tag }}-item">
          <input type="checkbox" class="filter-checkbox"> <label class="filter-checkbox-label">{{tag}}</label>
        <li class="blog-tag-item" id="{{ tag }}-item">

        {% endunless %}
      {% endif %}
    {% endif %}
  {% endfor %}

  </form>
  </ul>

{% endfor %}
