---
title: Resource Cantina
layout: default
permalink: /resources-filter
---

<div class=" grid-container">
  <div class="grid-row grid-gap">
    <div class="grid-col-fill">
      <h3>Filters</h3>
    <div class=" grid-container">
      <div class="grid-row grid-gap">
      <form class="method-filter">

      <div class="grid-col-auto">
        {% for object in site.data.filters[page.filter_file] %}
          {{object.filter}}
        {% endfor %}

    </div>
  </form>

        </div>
    </div>

    </div>
    <div class="grid-col-fill" id= "method-results">
      <h3>Results</h3>
      {% for resource in site.resources %}
        {% assign sanitized_tags = "" %}
          {% for tag in resource.tags %}
            {% if sanitized_tags == "" %}
              {% assign sanitized_tags = sanitized_tags | append:tag  %}
            {% endif %}
            {% if sanitized_tags != ""%}
              {% unless sanitized_tags contains tag %}
                {% assign sanitized_tags = sanitized_tags | append:' ' | append:tag  %}
              {% endunless %}
            {% endif %}
          {% endfor%}
                <a href = {{resource.permalink}} class= "method-result {{sanitized_tags}}">
                <button class="usa-button">
                  <h5>{{resource.name}} <h5>
                  <p>{{resource.content}}<p>
                </button>
                </a>
      {% endfor %}
    </div>
  </div>
</div>
