---
---

<!doctype html>
<html lang="en">
{% include head.html %}

<body>

  {% include banner.html%}
  {% include header.html%}
  <div class = "default-container">

    {% include sidenav.html %}

    <main id="main-content" class ="main-content test">
      <div class="styleguide-content usa-prose site-prose">
        <h1 class = "site-page-title"> {{page.title}} </h1>

        {{ content }}
      </div>

      {% include progress_buttons.html %}


    </main>
  </div>
  {% include footer.html%}

  <script src="{{ "/assets/uswds/js/uswds.min.js" | relative_url }}"></script>
</body>
</html>
