---
---


<!doctype html>
<html lang="en">
{% include head.html %}
<body>

  {% include banner.html%}
  {% include header.html%}

  <div class = "default-container">
    <div class = "top-sidenav">
    {% include sidenav.html %}
    </div>

    <div class = " section-selector" id = '{{page.section}}'></div>

    <main id="main-content" class ="main-content test">
      <div class="styleguide-content usa-prose site-prose">
        <div class=" grid-container">
          <h3 id="destination">Filters</h3>
          <div class="grid-row grid-gap">

            {% for filter-category in site.data.filters.labels %}
            <div class="grid-col-fill">
              <div class=" usa-accordion usa-accordion--bordered">

                <div class="grid-col-auto">
                  <h2 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                    aria-expanded="false"
                    aria-controls={{filter-category.aria-control}}>
                    {{filter-category.title}}
                  </button>
                </h2>

                <div id="{{filter-category.aria-control}}" class="usa-accordion__content usa-prose filter-options">

                  <form >
                    {% for filter-subcategory in filter-category.subfolderitems%}
                    <h5> {{filter-subcategory.subtitle}}</h5>
                    {% for filter in filter-subcategory.subsubfolderitems %}
                    <label class="filter-checkbox-label"><input type="checkbox" class="filter-checkbox">{{filter.label}}</label>
                    <br>
                    {% endfor %}
                    {% endfor %}
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>


      <div class=" grid-container">
        <h3>Results</h3>
        <div class="grid-row grid-gap">
          <div class="grid-col-fill" id= "method-results">

          </div>
        </div>
      </div>


    </div>

    <div class=" grid-container sort-categories ">
      <div class="grid-row grid-gap">
        <div class="grid-col-fill">
          <button class="usa-button generate" id = "{{page.destination}}"> Generate my methods compendium</button>
        </div>
        <div>
        </div>
      </div>
    </div>

    <div class="methods-compendium">
    </div>

    {% include progress_buttons.html %}
  </main>

  <div class = "bottom-sidenav">
  {% include sidenav.html %}
  </div>
</div>
{% include footer.html%}
<script src="{{ "/assets/uswds/js/uswds.min.js" | relative_url }}">

</script>

</body>
</html>
