---
---
<!doctype html>
<html lang="en">
{% include head.html %}

<body>

  {% include banner.html %}
  {% include header.html %}
  <div class = "default-container">

    {% include sidenav.html %}

      <main id="main-content" class ="main-content test">
        <div class="styleguide-content usa-prose site-prose">
          <h1 class = "site-page-title"> {{page.title}} </h1>

          <h6 class = "site-page-subtitle"> Description </h6>
          <p class = "description">
            {{ content }}
          </p>
          <br>

          {% for link in page.links_to_resource %}
            <a href={{link}} download>Download a file here</a> <br>
          {% endfor %}

          {% for image in page.links_to_images%}
            <img class = "example" src="{{image}}" alt="">
          {% endfor %}
        </div>
      </main>
  </div>
  {% include footer.html%}

  <script src="{{ "/assets/uswds/js/uswds.min.js" | relative_url }}"></script>
</body>
</html>
