.default-container{
  display:block;
  overflow: auto;
}

.sidenav{
    display: block;
    float: left;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding-right: 0;
    padding-left: 2rem;
    width: 15rem
}

.method-filter{
  border: 2px solid
    rgba(0,0,0,.1);
  border-radius: .25rem;
  margin:0.75rem;
}

.usa-header{
  background-color: #005ea2;
}

.method-result{
  display: inline-block;
  margin: 1.5rem;
}
.main-content{
  display:inline-block;
  position:relative;
  right: 0;
  bottom:0;
  width: calc(100% - 15rem);
}
.styleguide-content{
  margin-left: 1.25rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  overflow: hidden;
  position: relative;
}
.welcome{
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;

}

ul.descriptor{
    list-style-type: none;
    padding-left: 0;

}


.sort-categories{
  margin: 3em 0;

  padding-left: 0;
  padding-right: 0;

}

.sort-category {
  background-color: #005ea2;
  display: inline-block;
  height:100%;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

.sticky {
  position: fixed;
   top: 0;
   width: 100%;
}

.sticky-nav-item{
  float:left;
  display: inline;
  color: #f2f2f2;
  padding: 14px;
  text-decoration: none;
}
.menu-links a{
  text-decoration: none;
}

.menu-links li{
  list-style-type: none;
}
.sticky + .default-container{
  padding:0.1rem;
}
