


<footer class="usa-footer usa-footer--big lab-footer" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="lab-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <h3 class="lab-footer__sub-title">
          Helping government organizations transform their programs, processes, and people through human-centered design.
        </h3>
      </div>
    </div>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12 desktop:grid-col-12">
          <nav class="usa-footer__nav">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">The Lab at OPM</h4>
                  <div class="usa-list usa-list--unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a class="lab-footer__address" href="{{ site.baseurl }}/about/locations/#lab-dc-hq">
                      <span class="lab-footer__address-line" itemprop="streetAddress">Theodore Roosevelt Building</span>
                      <span class="lab-footer__address-line" itemprop="streetAddress">1900 E Street NW </span>
                      <span   class="lab-footer__address-line">
                        <span itemprop="addressLocality">Washington</span>, <span itemprop="addressRegion">DC</span> <span itemprop="postalCode">20415</span>
                      </span>
                    </a>
                  </div>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Lab NYC</h4>
                  <div class="usa-list usa-list--unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a class="lab-footer__address" href="{{ site.baseurl }}/about/locations/#lab-nyc">
                      <span class="lab-footer__address-line" itemprop="streetAddress">One World Trade Center</span>
                      <span class="lab-footer__address-line" itemprop="streetAddress">285 Fulton Street, 55th Floor</span>
                      <span   class="lab-footer__address-line">
                        <span itemprop="addressLocality">New York</span>, <span itemprop="addressRegion">NY</span> <span itemprop="postalCode">10007</span>
                      </span>
                    </a>
                  </div>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Lab SF</h4>
                  <div class="usa-list usa-list--unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a class="lab-footer__address" href="{{ site.baseurl }}/about/locations/#lab-sf">
                      <span class="lab-footer__address-line" itemprop="streetAddress">50 United Nations Plaza</span>
                       <span class="lab-footer__address-line" itemprop="streetAddress">Federal Office Building, 5th Floor</span>
                      <span   class="lab-footer__address-line">
                        <span itemprop="addressLocality">San Francisco</span>, <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">94102</span>
                      </span>
                    </a>
                  </div>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Lab Boston</h4>
                  <div class="usa-list usa-list--unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a class="lab-footer__address" href="{{ site.baseurl }}/about/locations/#lab-boston">
                      <span class="lab-footer__address-line" itemprop="streetAddress">Thomas P. O’Neill, Jr. Federal Building </span>
                         <span class="lab-footer__address-line" itemprop="streetAddress">10 Causeway Street, 11th Floor </span>
                      <span   class="lab-footer__address-line">
                        <span itemprop="addressLocality">Boston</span>, <span itemprop="addressRegion">MA</span> <span itemprop="postalCode">02114</span>
                      </span>
                    </a>
                  </div>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="{{ site.baseurl }}/assets/img/lab/opm-logo.png" alt="Official seal of OPM">
          </div>
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer__logo-heading">U.S. Office of Personnel Management</h3>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-6">
          <h3 class="usa-footer__contact-heading">Connect with us</h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <ul class="usa-list usa-list--unstyled lab-footer__connect">
                <li class="usa-footer__secondary-link lab-footer__connect-item">
                  <a href="mailto:lab@opm.gov?subject=Subscribe to newsletter request">
                    Subscribe to our newsletter
                  </a>
                </li>
                <li class="usa-footer__secondary-link lab-footer__connect-item">
                  <a href="https://twitter.com/labopm/">@LabOPM</a>
                </li>
                <li class="usa-footer__secondary-link lab-footer__connect-item">
                  <a href="{{ site.baseurl }}/contact/">Contact us</a>
                </li>
              </ul>
            </div>
          </address>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="lab-footer__required-links mobile-lg:grid-col-6">
          <ul class="usa-list usa-list--unstyled lab-footer__required-links-list">
            <li class="usa-footer__secondary-link lab-footer__required-links-item">
              <a class="lab-footer__required-links-link" href="https://www.opm.gov/information-management/privacy-policy/">Privacy Policy</a>
            </li>
            <li class="usa-footer__secondary-link lab-footer__required-links-item">
              <a class="lab-footer__required-links-link" href="https://www.opm.gov/information-management/freedom-of-information-act/">FOIA</a>
            </li>
            <li class="usa-footer__secondary-link lab-footer__required-links-item">
              <a class="lab-footer__required-links-link" href="https://www.opm.gov/information-management/accessibility/">Accessibility</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
