<!-- <div class="usa-overlay"></div> -->
<header class="usa-header usa-header--basic usa-header--megamenu lab-header" id="navbar" role="banner">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo lab-header__logo" id="basic-mega-logo">
        <em class="usa-logo__text">
          <a href="{{ site.baseurl }}/" title="Home" aria-label="Home">
            <img src="{{ site.baseurl }}/assets/img/lab/lab-logo-orange-teal.svg" alt="The Lab at OPM logo, the word LAB followed by the abbreviation OPM with a dot inbetween." class="lab-header__logo-img">
          </a>
          <a href="{{ site.baseurl }}/all-resources" title="Widget" aria-label="Widget" >
            <div class ="inline">
              Method Sorting Widget
            </div>
          </a>
        </em>
      </div>

      <button class="usa-menu-btn" aria-label="Menu">Menu</button>
    </div>
  </div>

</header>
