<!-- <div class="usa-overlay"></div> -->
<header class="usa-header usa-header--basic usa-header--megamenu lab-header" id="navbar" role="banner">
  <div class="usa-nav-container">
    <div class=" grid-container ">
      <div class="grid-row grid-gap">
        <div class="grid-col-3">
          <div class="usa-navbar">
            <div class="usa-logo lab-header__logo" id="basic-mega-logo">
              <em class="usa-logo__text">
                <a href="{{ site.baseurl }}/" title="Home" aria-label="Home" class="lab-header__logo-link">
                  <img src="{{ site.baseurl }}/assets/img/lab/lab-logo-orange-teal.svg" alt="The Lab at OPM logo, the word LAB followed by the abbreviation OPM with a dot inbetween." class="lab-header__logo-img">
                </a>
              </em>
            </div>
            <button class="usa-menu-btn" aria-label="Menu">Menu</button>
          </div>
        </div>
        <div class="grid-col-9">
          <ul class = "menu-links">
            <div class="grid-col-fill sticky-nav-item">
              <li>
                Principle 1
              </li>
            </div>

            <div class="grid-col-fill sticky-nav-item">

              <li>
                Principle 2
              </li>
            </div>


            <div class="grid-col-fill sticky-nav-item ">
              <a href="/all-resources" class=  "usa-current">
              <li>
                Method Sorting Widget
              </li>
              </a>
            </div>

          </ul>
        </div>
      </div>
    </div>
  </div>

</header>
