<aside class="site-sidenav">
  <ul class="usa-sidenav">
    {% for parent in site.data.sidenav.navigation %}
    <li class="usa-sidenav__item">
        <a href = "{{parent.href}}">
            {{parent.title}}
        </a>
        {% if parent.subfolderitems%}
            <ul class="usa-sidenav__sublist">
            {% for child in parent.subfolderitems%}
              <li class="usa-sidenav__item no-border">
                  <a href = "{{child.href}}">
                    {{child.subtitle}}
                  </a>
                {% if child.subsubfolderitems%}
                  <ul class="usa-sidenav__sublist">
                {% for grandchild in child.subsubfolderitems %}
                  <li class="usa-sidenav__item no-border">
                      <a href = "{{grandchild..href}}">
                        {{grandchild.title}}
                      </a>
                  </li>
                {% endfor %}
                  </ul>
                {% endif %}
              </li>

              {% endfor %}
            </ul>
        {% endif %}
      </li>


    {% endfor %}


  </ul>
</aside>
