---
title: Resource Sort
layout: default
---

<!doctype html>
<html lang="en">
<!-- * * * * * ======================= -->
<!-- * * * * * ======================= -->
<!-- * * * * * ======================= -->
<!-- * * * * * ======================= -->
<!-- ================================= -->
<!-- ================================= -->
<!-- ================================= -->

<head>
  {% if tags == ""%}
    {% include tags.html %}
  {% endif %}
</head>


<body>
  <div class = "default-container">

    {% assign rawtags = "" %}
    {% for resource in site.resources %}
      {% assign ttags = resource.tags | join:'|' | append:'|' %}
      {% assign rawtags = rawtags | append:ttags %}
    {% endfor %}
    {% assign rawtags = rawtags | split:'|' | sort %}

    {% assign site.tags = "" %}
    {% for tag in rawtags %}
      {% if tag != "" %}
        {% if tags == "" %}
          {% assign tags = tag | split:'|' %}
        {% endif %}
        {% unless tags contains tag%}
          {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
        {% endunless %}
      {% endif %}
    {% endfor %}

<aside class="sidenav">
<ul class="site-sidenav usa-sidenav">
  <form class="method-filter">
  <h5> Tests </h5>
  {% assign sorted_tags = tags | sort %}
  {% for tag in sorted_tags %}
  {% if tag == "" %}
    <li class="blog-tag-item" id="{{ tag }}-item">
      <a href onclick="filter(""reset""); return false;">Reset filters</a>
    </li>
  {% endif %}
  {% unless tag == ""%}
    <li class="blog-tag-item" id="{{ tag }}-item">
      <input type="checkbox" class="filter-checkbox"> <label class="filter-checkbox-label">{{tag}}</label>
    </li>
  {% endunless %}

  {% endfor %}

</form>
</ul>
</aside>


<main id="main-content" class ="main-content">
  <div id = "method-results">
  {% for resource in site.resources %}
    {% assign sanitized_tags = "" %}
      {% for tag in resource.tags %}
        {% if sanitized_tags == "" %}
          {% assign sanitized_tags = sanitized_tags | append:tag  %}
        {% endif %}
        {% if sanitized_tags != ""%}
          {% unless sanitized_tags contains tag %}
            {% assign sanitized_tags = sanitized_tags | append:' ' | append:tag  %}
          {% endunless %}
        {% endif %}
      {% endfor%}

          <div class = "method-result {{sanitized_tags}}">
              <h5>{{resource.name}} <h5>
              <p>{{resource.content}}<p>
          </div>
  {% endfor %}
</div>

</div>

  <script src="/assets/uswds/js/uswds.min.js"></script>
</main>

</body>
</html>
